In [10]:
#Task1
import pandas as pd

In [11]:
import numpy as np

In [12]:
# cretae project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 
                'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 
               'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

In [13]:
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [14]:
# Create Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

In [15]:
print(employee_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [16]:
# Create Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

In [17]:
print(seniority_df)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [18]:
# Save DataFrames to CSV files
project_df.to_csv('project.csv', index=False)
employee_df.to_csv('employee.csv', index=False)
seniority_df.to_csv('seniority.csv', index=False)

In [19]:
#Task 2
# Read project data from CSV
project_df = pd.read_csv('project.csv')

# Calculate running average for missing values
running_avg = 0
count = 0

for index, row in project_df.iterrows():
    if not pd.isna(row['Cost']):
        running_avg = (running_avg * count + row['Cost']) / (count + 1)
        count += 1
    else:
        project_df.at[index, 'Cost'] = running_avg

# Saving updated DataFrame
project_df.to_csv('project.csv', index=False)

In [20]:
#Task 3
# Read employee data from CSV
employee_df = pd.read_csv('employee.csv')

# Split name column into First and Last Name
employee_df[['First Name', 'LastName']] = employee_df['Name'].str.split(' ', expand=True)

# Drop the original Name column
employee_df.drop('Name', axis=1, inplace=True)

# Save updated DataFrame
employee_df.to_csv('employee.csv', index=False)

In [21]:
#Task 4
# Read all CSV files
project_df = pd.read_csv('project.csv')
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')

# Merge employee and seniority data first
temp_df = pd.merge(employee_df, seniority_df, on='ID')

# Merge with project data
final_df = pd.merge(project_df, temp_df, on='ID')

# Save final DataFrame
final_df.to_csv('final.csv', index=False)

In [22]:
#Task 5
# Read final data from CSV
final_df = pd.read_csv('final.csv')

# Add bonus column (5% of cost for finished projects)
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', final_df['Cost'] * 0.05, 0)

# Save updated DataFrame
final_df.to_csv('final.csv', index=False)

In [23]:
#Task 6
# Read final data from CSV
final_df = pd.read_csv('final.csv')

# Decrease designation level by 1 for failed projects
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Remove employees with designation level > 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save updated DataFrame
final_df.to_csv('final.csv', index=False)

In [24]:
#Task 7
# Read final data from CSV
final_df = pd.read_csv('final.csv')

# Add Mr./Mrs. prefix based on gender
final_df['First Name'] = np.where(final_df['Gender'] == 'M', 
                                 'Mr. ' + final_df['First Name'], 
                                 'Mrs. ' + final_df['First Name'])
# Drop gender column
final_df.drop('Gender', axis=1, inplace=True)

# Save updated DataFrame
final_df.to_csv('final.csv', index=False)

In [25]:
#Task 8
#promoting designation level by 1 for wmployees whose age is more than 29
# Read final data from CSV
final_df = pd.read_csv('final.csv')

# Promote designation level by 1 for employees over 29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

# Save updated DataFrame
final_df.to_csv('final.csv', index=False)

In [26]:
#task 9
#Add the cost of all projects for each Employee and save it in new dataframe,“TotalProjCost” with three columns ID, First Name, and Total cost
# Read final data from CSV
final_df = pd.read_csv('final.csv')

# Group by ID and First Name, then sum the cost
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.columns = ['ID', 'First Name', 'Total cost']

# Save new DataFrame
total_proj_cost.to_csv('TotalProjCost.csv', index=False)

In [27]:
#task 10 
#Print all the employee details whose city name contains the letter “o” in it
# Read employee data from CSV
employee_df = pd.read_csv('employee.csv')

# Filter employees whose city contains 'o' (case insensitive)
filtered_employees = employee_df[employee_df['City'].str.contains('o', case=False)]

# Print the results
print(filtered_employees)

     ID Gender     City  Age First Name   LastName
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra